*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.bbk{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bbk h1{
    font-family:'puple' Montserrat;
    border: 1px solid #FBD846;
    width: 340px;
    height: 70px;
    background: #FBD846;
    padding: 10px;
    font-size: 30px;
    font-weight: 50px;
    /* padding: 15px; */
    margin: 1px;
    margin-top: 10px;

}
.bbi img:nth-child(1){
    margin-top: 70px;
    margin-right: 750px;
}
.bbi img:nth-child(2){
    margin-top: -9px;
    margin-right: 1213px;
}
.bbi img:nth-child(3){
    margin-right: 1340px;
    margin-top: -15px;
}
.bbi h1{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 159.9px;
    margin-top: -40px;

}
.bbi2{
    margin-left: 20px;
    margin-top: -300px;
}
.chiziq{
    margin-right: 250px;
    margin-top: -7px;
    height: 30px;
}
.chiziq h1{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0.6;
    margin-left: 643px;
    margin-top: -10px;
}
.chiziq h2{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #FBD846;
    margin-left: 647.7px;
    margin-top: -35.8px;


}
.bbi3{
    margin-left: 800px;
    margin-top: -526px;
}
.chiziq2{
   margin-left: 1265px;
   margin-top: -10px;
}
.chiziq2 h1{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0.6;
    margin-left: 260px;
    margin-top: -15px;

}
.chiziq2 h2{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #FBD846;
    margin-left: 265.5px;
    margin-top: -36.3px;
}
.bbi4{
    margin-top: 100px;
    margin-left: 360px;
}
.chiziq3{
    margin-left: 910px;
    margin-top: -325px;
}
.chiziq3 h1{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0.6;
    margin-left: 480px;
    margin-top: -20px;
}
.chiziq3 h2{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #FBD846;
    margin-left: 485.6px;
    margin-top: -36px;
}
.card{
    border:  1px solid #FBD846;
    height: 419.52px;
    margin-top: 400px;
    background: #FBD846;
    
}
.card h1{
    margin: 10px;
    font-family: sans-serif;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.card2{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 20px;
}
.btn{
    position: relative;
    text-align: center;
    top: -50%;
}
.btn button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #333333;
    color: #FBD846;
}
.btn button:nth-child(1){
    margin-right: 1100px;
}
span{
    color: white;
}